<h1>Game</h1>

<div class="row">
  <%= form_for [@game, @move] do |f| %>
    <% @board.grid.each_with_index do |mark, index| %>
      <div class="large-4 columns board-cell">
        <% if mark.nil? %>
          <%= f.hidden_field :game_id, value: @game.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.label "position_value#{index}", index %>
          <%= f.radio_button :position, index %>
        <% else %>
          <div class="form-submit">
            <%= f.label "#{mark}" %>
          </div>
        <% end %>
      </div>
    <% end %>
      <%= f.submit "Submit Move" %>
<% end %>
  
</div>