<h1>Game</h1>

<div class="board">
  <div class="board-top">
    <div class="board-one">
      <%= form_for @game do |f| %>
        <%= f.label 'one' %>
        <%= f.radio_button, value= '1' %>
    </div>
    <div class="board-two">
        <%= f.label 'two' %>
        <%= f.radio_button, value= '2' %>
    </div>
    <div class="board-three">
        <%= f.label 'three' %>
        <%= f.radio_button, value= '3' %>
    </div>
  </div>
<div class="board-mid">
  <div class="board-four">
      <%= f.label 'four' %>
      <%= f.radio_button, value= '4' %>
  </div>
  <div class="board-five">
      <%= f.label 'five' %>
      <%= f.radio_button, value= '5' %>
  </div>
  <div class="board-six">
      <%= f.label 'six' %>
      <%= f.radio_button, value= '6' %>
  </div>
</div>
  <div class="board-bottom">
    <div class="board-seven">
        <%= f.label 'seven' %>
        <%= f.radio_button, value= '7' %>
    </div>
    <div class="board-eight">
        <%= f.label 'eight' %>
        <%= f.radio_button, value= '8' %>
    </div>
    <div class="board-nine">
        <%= f.label 'nine' %>
        <%= f.radio_button, value= '9' %>
    </div>
    <div class="move-submit">
      <%= f.submit %>
    </div>
    <% end %>
</div> 
