<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <link rel="stylesheet" href="foundation.css">

  <!-- This is how you would link your custom stylesheet -->
    <link rel="stylesheet" href="app.css">

  <script src="js/vendor/modernizr.js"></script>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <nav class="top-bar" data-topbar role="navigation">
        <section class="top-bar-section">
          <ul class= "left">
            <% if user_signed_in? %>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            <li class="divider"></li>
            <% else %>
            <li><%= link_to('Login', new_user_session_path)  %></li>
            <li><%= link_to('Register', new_user_registration_path)  %></li>
            <% end %>
            <li class="divider"></li>
            <%# if user_signed_in? %>
            <li><%#= link_to('Edit registration', edit_user_registration_path) %></li>
            <li class="divider"></li>
            <%# else %>
            
            <%# end %>
            <li class="divider"></li>
          </ul>
        </section>
      </nav>
      <div class="notice-alert">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>

      <h1>Tic Tac Toe</h1>
      <!-- <div class="icon-bar five-up">
        <a class="item" aria-label="home"><%#= link_to(root_path) %></a>
          <i class="fi-home"></i> -->
      <ul>
        <li><%= link_to('New Game', new_game_path) %></li>
      </ul>
    </header>

    <%= yield %>

  </body>
</html>
